PDF-In.json
{
  "name": "PDF-In",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \n  \"success\": true, \"message\": \"Document ingested successfully\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        80,
        -320
      ],
      "id": "0672343d-516a-4e2b-abd3-827697c74a1f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -256,
        -320
      ],
      "id": "4a278659-8321-47a5-9165-e4ae23a54c36",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "wSCPBEQ3ulcV3zD9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -368,
        -112
      ],
      "id": "1ca9b2d8-139b-41df-9c0b-d463c40fe91f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4DMXz65u9XDsZ3I8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "client_id",
                "value": "=={{ $('Webhook').first().json.body.client_id }}"
              },
              {
                "name": "source_file",
                "value": "={{ $('Webhook').first().json.body.filename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -176,
        -128
      ],
      "id": "0cd4f6c6-b3e4-4b23-8588-8fb766c386ab",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -160,
        32
      ],
      "id": "120273ad-089e-4f16-858a-2081f8aa9ab3",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        -320
      ],
      "id": "9fcb1038-bae9-4840-87ae-3dfe6ee23c5a",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "wSCPBEQ3ulcV3zD9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -320
      ],
      "id": "f9a214f2-740c-4960-8cb9-54a92519545e",
      "name": "Webhook",
      "webhookId": "5c9d2b5c-3fb7-4e5c-afaa-3b34ab8b1aed"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c4634135-09eb-47fa-b405-297afda761d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5d93a9f9097b10fddd9e1e26c4f081ccfedddaac09d760d2cef0913d3344587"
  },
  "id": "OHumoYDvd2WR4plg",
  "tags": []
}