Supabase RAG AI Agent.json
{
  "name": "Supabase RAG AI Agent",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "e3dd0022-63ed-41e1-82b5-376132d9fa81",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -448,
        368
      ],
      "credentials": {
        "openAiApi": {
          "id": "4DMXz65u9XDsZ3I8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "6a52b912-7cc2-4f47-aa23-28b1b5635cd0",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        416,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "4DMXz65u9XDsZ3I8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions."
      },
      "id": "ecb89e25-2031-4ca5-b75b-fa035733e080",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        160,
        112
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "b333e5e0-3349-4363-a623-444d58341c73",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        64,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "4DMXz65u9XDsZ3I8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('When chat message received').item.json.body.sessionId }}"
      },
      "id": "46d143b3-802c-48c4-bba1-cf1befcee33e",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -288,
        368
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "4Ik2QqQafMzf4fTg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "b08a37ed-a95b-40f3-9fdb-f501e8b9749e",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        144
      ],
      "webhookId": "e985d15f-b2f6-456d-be15-97e0b1544a40"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "0f0de0cf-a626-4572-9187-1b8f171c9b44",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        64,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wSCPBEQ3ulcV3zD9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -240,
        -32
      ],
      "id": "0a0fa50b-b68f-4c18-b99f-a04b61bc390c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful customer support assistant for Zara's Bakery. \nYou have access to the bakery's complete menu, FAQs, and policies \nthrough your tools. Always search your documents to answer questions. \nNever ask the customer to clarify what place they mean — you only \nserve Zara's Bakery."
        }
      },
      "id": "0e9d2dea-78e1-489f-bc8c-7870faefe404",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -320,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "any",
    "availableInMCP": false
  },
  "versionId": "fb58a3de-c2d8-4028-8890-0966b3210bf2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5d93a9f9097b10fddd9e1e26c4f081ccfedddaac09d760d2cef0913d3344587"
  },
  "id": "IfULlyEv4e4YZzRj",
  "tags": []
}